html{
   box-sizing: border-box;
}

*,
*::after,
*::before{
   box-sizing: inherit;
}

a{
   color: inherit;
   text-decoration: none;
}

li{
   list-style: none;
}

body{
   font-family: "Montserrat", serif;
   font-optical-sizing: auto;
   color: #533738;
}

.header{
   background-image: url(../images/Mask\ Group.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
}

.container{
   max-width: 1200px;
   margin: 0 auto; 
}

.header-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 35px;
   margin-bottom: 90px;
}

.logo{
   display: flex;
}

.logo__text{
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
}

.menu__list{
   display: flex;
   gap: 25px;
}

.menu__link{
   font-size: 16px;
   font-weight: 400; 
}

.menu__link:hover{
   text-decoration: underline;
}

.content-header{
   max-width: 1030px;
   margin: 0 auto;

}

.header__title{
   max-width: 530px;
   font-size: 50px;
   font-weight: 400;
   line-height: 62px;
   margin-bottom: 25px;
}

.header__text{
   max-width: 410px;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   margin-bottom: 20px;
}

.header-btn{
   padding: 24px 66px;
   border: none;
   background-color: #CC8B86;
   color: #533738;
   font-size: 20px;
   font-weight: 500;
}

.header-btn:hover{
   background-color: #ae7773;
   color: aliceblue;
}


.us{
   background-color: #EFE6E4;
   padding-top: 65px;


}
.titel__h2{
   font-size: 40px;
   font-weight: 400;
   line-height: 50px;
   text-transform: uppercase;
}

.titel__us{
   margin-bottom: 40px;
   text-align: center;
}

.us__content{
   display: flex;
   gap: 60px;   
   padding-bottom: 20px;
}

.us__text{
   margin: 0;
   max-width: 523px;
}

.us__number{
   background-color: #8D7370;
   color: #EFE6E4;
}

.us__list{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
}

.us__item{
   text-align: center;
}

.t2{
   margin-top: 85px;
   margin-bottom: 10px;
}

.us__item-text{
   margin: 0;
   font-size: 30px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 80px;
}
